* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: rgb(224, 133, 133);
}

.tituloCima{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.containerCronometro{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(90, 90, 209);
    height: 50vh;
    width: 80%;
    margin-left: 8%;
}