<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" routerLink="/">Início</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <a class="nav-link" routerLink="/curriculos">Currículos</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/vagas">Vagas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/painel">Painel de Vagas</a>
        </li>
    </ul>
    </div>
    </nav>