@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@1,600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

body{
    min-height: 100vh;
    background: rgb(139, 101, 101);
}

header {
    width: 100%;
    height: 8vh;
    background-color: rgb(66, 64, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    display: flex;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-left: 1%;
}
.menu1{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
.menu1 a{
    font-family: 'Poppins', sans-serif;
    color: aquamarine;
    font-size: 1vw;
}
.hb{
    font-size: 35px;
    cursor: pointer;
    display: none;
}
.menuHB a{
    font-size: 35px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 1024px) {
    .menu1{
        display: none;
    }
    .hb{
        display: inline;
    }
    .hb:hover ~ .menuHB, .menuHB:hover {
        display: block;
    }
}
.container-slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider{
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}
#prev-button{
    transform: rotate(180deg);
}
footer{
    font-family: 'Inter', sans-serif;
    width: 100%;
    letter-spacing: 1px;
    color: #fff
}

#footer_content{
    background-color: rgb(39, 37, 37);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h2{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#twitter{
    background-color: #3E8AFF;
}

.footer-link{
    text-decoration: none;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
#footer_social_media .footer-link i{
    font-size: 1.2rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: rgb(173, 169, 150);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p{
    color: rgb(173, 169, 150);
}
#input_group{
    display: flex;
    align-items: center;
    background-color: 4px;
    border-radius: 4px;
}
#input_group input{
    padding: 0.75rem;
    width: 100%;
}
#input_group button{
    background-color: #7f37c9;
    border: none;
    color: #fff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group:hover{
    opacity: 0.8s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}